{% extends 'base.html' %}

{% block title %}Post News{% endblock %}

{% block content %}
<div class="form-container">
    <h2>{% if form.instance.pk %}Edit News{% else %}Post News{% endif %}</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Title</label>
        {{ form.title }}

        <label>Category</label>
        {{ form.category }}

        <label>Content</label>
        {{ form.content }}

        <label>Image</label>
        {{ form.image }}

        <button type="submit">Save</button>
    </form>
</div>
{% endblock %}